<%= stylesheet_link_tag 'contact' %>

<div class="admin_index">
  <div class="container">
    <h2>お問い合わせ一覧</h2>
    <table class="admin_index_table">
      <thead>
        <tr>
          <th>日時</th>
          <th>お名前</th>
          <th>企業名</th>
          <th>内容</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
        <tr>
          <td><%= l contact.created_at %></td>
          <td><%= contact.user_name %></td>
          <td><%= contact.company_name %></td>
          <td><%= contact.contents.truncate(50) %></td>
          <td><%= link_to "show", admin_contact_path(contact.id) %></td>
        </tr>
        <% end %>
        <%= paginate @contacts %>
      </tbody>
    </table>
  </div>
</div>
