<%= stylesheet_link_tag 'contact' %>


<div class="admin_show_page">
  <div class="container">
    <h2>お問い合わせ詳細</h2>
    <table class="admin_show_table">
      <tbody>
        <tr>
          <th>日時</th>
          <td><%= l @contact.updated_at %></td>
        </tr>
        <tr>
          <th>お名前</th>
          <td><%= @contact.user_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @contact.ruby %></td>
        </tr>
        <tr>
          <th>企業名</th>
          <td><%= @contact.company_name %></td>
        </tr>
        <tr>
          <th>e-mail</th>
          <td><%= @contact.email %></td>
        </tr>
        <tr>
          <th>TEL</th>
          <td><%= @contact.tel %></td>
        </tr>
        <tr>
          <th>内容</th>
          <td><%= @contact.contents %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
