<!DOCTYPE html>
<html>
  <head>
    <title>PrimeoneHp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6oI97dPNTskpK8GG5eU-T9ijOmLNAKG4&callback=initMap" async defer></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
